.table {
    height: 1440px;
    display: grid;
    grid-template-areas:
        '. player-1 .'
        'player-4 dealer player-2'
        '. player-3 .';
    gap: 20px;
    justify-items: center;
    align-items: center;
    background-image: url("../../../public/plateau.png");

    p {
        font-size: 32px;
        color: white;
    }

    .actions-bottom{
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        gap: 300px;
    }
    .actions-top {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: row;
        gap: 300px;
        transform: rotate(180deg);
    }
    .actions-right {
        transform: rotate(270deg);
        position: absolute;
        right: 0;
        margin-right: -190px;
        display: flex;
        flex-direction: row;
        gap: 300px;
    }
    .actions-left {
        transform: rotate(90deg);
        position: absolute;
        left: 0;
        margin-left: -190px;
        display: flex;
        flex-direction: row;
        gap: 300px;
    }
}

.hand.dealer {
    grid-area: dealer;
}

.hand.player-0 {
    grid-area: player-1;
    transform: rotate(180deg);
}

.hand.player-1 {
    grid-area: player-2;
    transform: rotate(270deg);
}

.hand.player-2 {
    grid-area: player-3;
}

.hand.player-3 {
    grid-area: player-4;
    transform: rotate(90deg);
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        font-size: 32px;
        color: white;
    } 
}

/* .startScreenStyle{
    position: "fixed";
    top: 0;
    left: 0;
    width: "100%";
    height: "100%";
    background-color: "white";
    justify-content: "center";
    align-items: "center";
    z-index: 1000;
}

.startButtonStyle {
    padding: "15px 30px";
    font-size: "24px";
    font-weight: "bold";
    background-color: "#4CAF50";
    color: "white";
    border: "none";
    border-radius: "5px";
    cursor: "pointer";
    box-shadow: "0 4px 8px rgba(0, 0, 0, 0.2)";
}

.startButtonStyleDisabled {
    padding: "15px 30px";
    font-size: "24px";
    font-weight: "bold";
    background-color: "grey";
    color: "white";
    border: "none";
    border-radius: "5px";
    cursor: "pointer";
    box-shadow: "0 4px 8px rgba(0, 0, 0, 0.2)";
} */