.statusContainer {
  display: flex;
  justify-content: center;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0.5em 0.5em 1em;
  padding: 1em;
  width: 60%;
  background: black;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
}

.balance {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 1em 0.5em 0.5em;
  padding: 1em;
  width: 30%;
  background: black;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
}

.value {
  color: white;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .value {
    font-size: 150%;
  }
}

@media screen and (max-width: 600px) {
  .value {
    font-size: 115%;
  }
}

.resultMessage {
  padding: 8px;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 1.2em;
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}